    /* Reset */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background-color: #111;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    /* Container principal */
    .container {
      width: 800px;
      background-color: #fff;
      border-radius: 90px;
      padding: 70px 20px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      text-align: center;
      color: white;
    }

    /* Logo */
    .logo img {
      width: 300px;
      margin-bottom: 15px;
    }

    /* Card branco */
    .card {
      background: #fff;
      border-radius: 30px;
      padding: 25px 20px;
      color: #000;
    }

    .card h2 {
      margin-bottom: 20px;

    }

    /* Campos */
    .card input {
      width: 100%;
      padding: 12px;
      margin: 8px 0;
      border: none;
      border-bottom: 2px solid #ccc;
      outline: none;
      font-size: 14px;
    }


    /* Botão */
    .card button {
      width: 30%;
      padding: 12px;
      border: none;
      border-radius: 8px;
      color: white;
      font-size: 16px;
      margin-top: 15px;
      cursor: pointer;
      transition: 0.3s;
      background-color: #333;
    }

    /* Link inferior */
    .card p {
      margin-top: 15px;
      font-size: 14px;
    }

    .card a {
      text-decoration: none;
    }

    .card a:hover {
      text-decoration: underline;
    }

    /* 1. Esconde o Input Original */
    .custom-file-upload input[type="file"] {
      opacity: 0;
      width: 0.1px;
      height: 0.1px;
      position: absolute;
      z-index: -1;
    }

    /* 2. Estiliza o Label (Nosso Novo Botão) */
    .custom-file-upload label {
      display: inline-block;
      padding: 10px 20px;
      margin-right: 10px;
      /* Adicionado um pouco de espaço à direita */
      border: 1px solid #007bff;
      border-radius: 5px;
      background-color: #007bff;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    /* 3. Estilo opcional para o nome do arquivo */
    .custom-file-upload #nome-do-arquivo {
      font-style: italic;
      color: #555;
    }

    /* Adicione ao final de: src/css/entrarPg/entrar.css */
    @media (max-width: 600px) {
      .container {
        width: 98%;
        padding: 30px 5px;
        border-radius: 30px;
      }

      .logo img {
        width: 120px;
      }

      .card {
        padding: 15px 5px;
        border-radius: 18px;
      }

      .card button {
        font-size: 15px;
        padding: 10px;
      }
    }